/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0rem;
}

.wrapper{
   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
    gap:2rem;
    justify-content: center;

}

.card{
        
   

    background: #7A6EC4;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.79);
    border-radius: 27px;
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
        
    background: #7A6EC4;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.63);
    border-radius: 26px;

}

.card .card__title{
    padding: 1rem;
}

.card .card__description{
    padding: 0 1rem;
}

.card :hover{
    transform:scale(1.02);

}

.categoria-body{

    box-sizing: border-box;

    position: absolute;
    width: 234px;
    height: 65px;
    left: 68px;
    top: 130px;

    background: #8864C2;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.label-categorias{

        
    position: absolute;
    width: 153px;
    height: 78px;
    left: 50px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;

    letter-spacing: -0.022em;

    color: #FFFFFF;

}
*/
/* Estilos gerais */

body {
    background-color: #4D0AA4 !important;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*
.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}
*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
h1 {
text-align: center;

}
/*margin-top: 150px;
    gap: 10px; */
  
.card {
    background-color: #7A6EC3;
    margin-top: 30px;
    width: 40%;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
.card {
    width: 100%;
}
}


.card h2 {
    background-color: #7A6EC3;
}

.card__image{
    background-color: transparent;

}

.card p {
    background-color: #7A6EC3;

font-size: 14px;
color: #666;
}



.tatuadores-body-tatuadorList{

box-sizing: border-box;

position: relative;

margin-top:60px;
width: 234px;
height: 65px;
margin-left: 50px;



background: #8864C2;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}

.label-tatuadores-tatuadorList{

position: relative;
  
margin-top: 7px;
width: 153px;
height: 78px;
margin-left: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 130%;
/* or 39px */

letter-spacing: -0.022em;
background-color: transparent;

color: #FFFFFF;

}

.novoTatuador-body{

box-sizing: border-box;

position: relative;

width: 200px;
height: 65px;
margin-left: 1550px;
margin-top: 0px;



background: #8864C2;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}
    
.label-novoTatuador{

position: relative;
width: 164px;
height: 15px;
margin-left: 30px;
margin-top:20px;



font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */

letter-spacing: -0.022em;
background-color: transparent;

color: #FFFFFF;

}


.btn-primary{ 
    position: relative;
    left: 560px;
    margin-top: 10px;
    width:200px ;
    background-color:#8864C2 !important;
    
}
