

body {
    background-color: #EDF2F4 !important;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
h1 {
text-align: center;

}

.card {
    background-color: #8D99AE;
    margin-top: 30px;
    width: 40%;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
.card {
    width: 100%;
}
}


.card.type1 {
    justify-items: left;
    height: 300px;
    width: 23%;  
    text-align: center;
    background: #8D99AE;

}


.card.type2 {
    background: #8D99AE;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.63);
    border-radius: 26px;
    justify-items: left;
    height: 300px;
    width: 500px;
    text-align: center;

}


.card h2 {
    background-color: #8D99AE;
    color:#2B2D42;
}

.card__image{
    background-color: transparent;

}

.card p {
    background-color: #8D99AE;

font-size: 14px;
color: #666;
}



.tatuadores-body-tatuadorList{

box-sizing: border-box;

position: relative;

margin-top:60px;
width: 234px;
height: 65px;
margin-left: 50px;



background: #2B2D42;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}

.label-tatuadores-tatuadorList{

position: relative;
  
margin-top: 7px;
width: 153px;
height: 78px;
margin-left: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 130%;
/* or 39px */

letter-spacing: -0.022em;
background-color: transparent;

color: #FFFFFF;

}

.novoTatuador-body{

box-sizing: border-box;

position: relative;

width: 200px;
height: 65px;
margin-left: 1550px;
margin-top: 0px;



background: #2B2D42;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}
    
.label-novoTatuador{

position: relative;
width: 164px;
height: 15px;
margin-left: 30px;
margin-top:20px;



font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */

letter-spacing: -0.022em;
background-color: transparent;

color: #FFFFFF;

}


.btn-primary{ 
    position: relative;
    left: 560px;
    margin-top: 10px;
    width:200px ;
    background-color:#2B2D42 !important;
    
}


.link-card{
    text-decoration: none;
}