
.body{
    background: #4D0AA4;

}

.form{
    background: #4D0AA4 !important;
}

.title-body{
        
    box-sizing: border-box;

    position: absolute;
    width: 427px;
    height: 79px;
    left: 154px;
    top: 130px;

    background: #8864C2;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.label-title{
        
    position: absolute;
    width: 430px;
    height: 90px;
    left: 110px;
    top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height, or 39px */
    background-color: transparent;
    letter-spacing: -0.022em;

    color: #FFFFFF;

}

.form-body{

    position: absolute;
    width: 1131px;
    height: 769px;
    left: 154px;
    top: 230px;

    background: #7A6EC3;
    border-radius: 45px;
}


.label-descricao{
    position: absolute;
    width: 141px;
    height: 39px;
    left: 130px;
    top: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    
    letter-spacing: -0.022em;
    background-color: transparent;

    color: #FFFFFF;

}

.input-descricao{
    position: absolute;
    width: 470px;
    height: 176px;
    left: 130px;
    top: 150px;
    
    background: #FFFFFF;
    border-radius: 15px;

}

.label-tamanho{
    position: absolute;
    width: 130px;
    height: 39px;
    left: 130px;
    top: 340px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    background-color: transparent;

    letter-spacing: -0.022em;

    color: #FFFFFF;
}

.input-tamanho{
    position: absolute;
    width: 271px;
    height: 73px;
    left: 130px;
    top: 380px;

    background: #FFFCFC;
    border-radius: 15px;
}

.label-cor{
    position: absolute;
    width: 52px;
    height: 39px;
    left: 130px;
    top: 470px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    background-color: transparent;

    letter-spacing: -0.022em;

    color: #FFFFFF;

}

.label-local{

    position: absolute;
    width: 211px;
    height: 39px;
    left: 130px;
    top: 570px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    background-color: transparent;

    letter-spacing: -0.022em;
    
    color: #FFFFFF;
    
}

.footer{
        
    box-sizing: border-box;

    position: absolute;
    width: 236px;
    height: 53px;
    left: 887px;
    top: 820px;

    background: #7D54C0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.label-footer{

    position: absolute;
    width: 58px;
    height: 26px;
    left: 100px;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    background-color: transparent;

    letter-spacing: -0.022em;
    
}
