
*{
    box-sizing: border-box;
    background-color: #EDF2F4 ;

}

.wrapper-categoriaList{
    
    justify-content: center;
    background:transparent ;
    margin-left: -35em;
    margin-right: -35em;
}

.categoriaList-wrapper{
    background-image: url("https://raw.githubusercontent.com/luanaFOliveira/storeImagesTrab3/main/backgroundGeral.png");
    padding: 40em;
}


.categoria-body-categoriaList{

    box-sizing: border-box;

    position: relative;

    margin-top:-35em;
    width: 234px;
    height: 65px;
    margin-left: -35em;



    background: #8A2D40;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.label-categorias-categoriaList{

    position: relative;
        
    margin-top: 5px;
    width: 153px;
    height: 78px;
    margin-left: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    /* or 39px */

    letter-spacing: -0.022em;
    background-color: transparent;

    color: #000000;

}


.card-row-categoriaList {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    background: transparent;
}


.card.type1-categorialist{
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 200ms ease-in;
    width: 100%;
        
    background: #496179;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.63);
    border-radius: 26px;
    

}
/*height: 300px;
    width: 40%;  
    text-align: center;*/

.title-card-categoriaList{
    background-color: transparent;
    text-align: center;
    color: #000 !important;;
}

.h2{
    background: transparent;

}


.link-card{
    text-decoration: none;
}