.body{
    background-image: url("https://raw.githubusercontent.com/luanaFOliveira/storeImagesTrab3/main/backgroundGeral.png");

}
.container-home {
    display: flex;
    justify-items: left;
    margin-top: 20px;

}



.card {
    background-color: #496179;
    padding: 20px;
    margin-bottom: 10px;

}


.h2{
    color:#000000;
    background: transparent;

}

.card__image{
    height: 12rem;
    width: 100%;
    object-fit:contain;
    background-color: transparent;

}


.card-row-home {
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 100%;
    background: transparent;
}

.card-column-home {
    display: flex;
    justify-items: left;
    flex-direction: column;
    margin-top: 20px;
    background: transparent;

}

.categoria-home-row-wrapper{
    background: transparent;
}

.tatuador-home-row-wrapper{
    background: transparent;
}


.card.type1-home {
    justify-items: left;
    height: 300px;
    width: 400px;  
    text-align: center;
    background: #496179;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.63);
    border-radius: 26px;

}


.card.type2-home {
    background: #496179;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.63);
    border-radius: 26px;
    justify-items: left;
    height: 300px;
    width: 400px;
    text-align: center;

}


.categoria-body-home{

    box-sizing: border-box;
    
    position: relative;
    
    margin-top:10px;
    width: 234px;
    height: 65px;
    margin-left: 0rem;
    
    
    background: #8A2D40;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
    
.label-categorias-home{
    
            
    margin-top: 5px;
    width: 153px;
    height: 78px;
    margin-left: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    /* or 39px */
    
    letter-spacing: -0.022em;
    background-color: transparent;

    color: #000000;
    
}

.home-wrapper{
    justify-items: left;
    padding:3em;
    background-image: url("https://raw.githubusercontent.com/luanaFOliveira/storeImagesTrab3/main/backgroundGeral.png");

}

.title-home-card{
    color: #FFFFFF;
    background: transparent;

}

.link-card{
    text-decoration: none;
    background: transparent;
}

