

.categoriaSingle-wrapper{
    background-image: url("https://raw.githubusercontent.com/luanaFOliveira/storeImagesTrab3/main/backgroundGeral.png");
    padding: 40em;  
}

.card.type2-categorialist {
    background: #496179;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.63);
    border-radius: 26px;
    justify-items: left;
    height: 300px;
    width: 500px;
    text-align: center;


}

.h2{
    background: transparent !important;
}

