
.nav.nav-tabs{
    background-color: #8D99AE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.022em;
    position: absolute;
    width: 200px;
    top:10px;
    left:30px;
    border-radius: 45px;
    border-color:#2B2D42;

}
