
*{
  background-color: #4D0AA4 ;

}


body{
  background-color: #4D0AA4 !important;

}

.App {
  background-color: #4D0AA4;
  text-align: left;
  display:flex;
  flex-direction:column;
  justify-content: left;
  align-items: left;
}


input,button{
  width: 200px;
  height: 30px;
  font-size:20px;
  margin:5px;
}

